node_modules
.DS_Store
dist
dist-ssr
*.local

.history
.ionide

npm-debug.log
yarn-error.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace